body {
  background-color: #392E2E;
}
div {
	text-align: center;
	margin:0px 50px 0px 50px;
}

h1 {
  font: normal 30px/1.5 "Montserrat", helvetica, arial, sans-serif;
  font-weight:bold;
  color: white;
  background-color: #6E6D6D;
  text-align: center;
  text-transform:uppercase;
}

p {
	padding-left:5em;
  margin-left:100px;
  font: normal 20px/1.5 "Montserrat", helvetica, arial, sans-serif;
  text-align:justify;
  color:white;
  font-family: verdana;
  font-size: 20px;
}

.cf img {float:left;}
.cf div {float:center;}
.cf:before,
.cfafter {
	content: " ";
	display: table;
}
